body {
  background-color: rgb(243, 162, 86);
  font-family: 'Indie Flower', cursive;
}

h1 {
  color: #444;
  text-align: center;
  font-size: 4rem;
}

.reset {
  font-style: oblique;
  color: #444;
  position: absolute;
  left: 50%;
  margin-left: 12rem;
  top: 22%;
  font-size: 4rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.reset:hover {
	transform: scale(1.1);
	width: 0px;
	color: smoke;
}

td {
  border: 2px solid #333;
  height: 100px;
  width: 100px; 
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
  cursor: pointer;
}

table {
  position: absolute;
  left: 50%;
  margin-left: -155px;
  top: 25%;
  box-shadow: 5px 10px 40px #4e372128; 
}

.endgame {
  display: none;
  width: 200px;
  top: 245px;
  background-color: rgba(205, 133, 63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 7px;
  color: white;
  font-size: 2em;
  z-index: 10;
}

.box-container {
	position: relative;
	margin: auto;
	font-size: 90px;
	text-align: center;
	padding-left: 10px;
	padding-top: 10px;
	width: 330px;
	height: 330px;
	transition: all 0.1s ease-in-out;
	border-radius: 5%;
	background-color: rgb(220, 142, 70);
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.box {
	border-radius: 25%;
	color: #444;
	text-align: center;
	font-size: 70px;
	z-index: 5;
	background-color: antiquewhite;
	margin: 1%;
	position: relative;
	float: left;
  padding-bottom: 28px;
	height: 72px;
	width: 100px;
 }